Source: kno-postgres
Priority: optional
Maintainer: Ken Haase <kh@beingmeta.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, debsigs, devscripts, libu8-dev, libpq-dev, kno-dev (>= @KNO_MAJOR@.@KNO_MINOR@.0)
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.beingmeta.com/

Package: kno-postgres
Section: libdevel
Architecture: any
Depends: libpq-dev, kno-core (>= @KNO_MAJOR@.@KNO_MINOR@.0)
Description: Postgres module for KNO

