Source: kno-imagetools
Priority: optional
Maintainer: Ken Haase <kh@beingmeta.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, debsigs, devscripts, libu8-dev, libexif-dev, libqrencode-dev, libmagickwand-dev, kno-dev (= @MAJOR_VERSION@) 
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.beingmeta.com/

Package: kno-imagetools
Section: libdevel
Architecture: any
Depends: libexif12, libmagickwand | libmagickwand-6.q16-6 | libmagickwand-6.q16-3 | libmagickwand-6.q16-2  | libmagickwand5, libqrencode4 | libqrencode3, kno-core (= @MAJOR_VERSION@)
Description: Imagetools module for KNO

